@media (min-width: 1000px) {

    .full {
      background-color: white;
      margin-bottom: -3%;
      text-align: center;
    }
  
    .Main {
      text-align: center;

      background-image: url('../Images/RunBGC_2.png');
      background-repeat: no-repeat;
      background-size: 90%;
      background-attachment: fixed;
      background-position-x: 15%;
      background-position-y: 55%;
      background-color: rgb(25, 214, 184);

      height: 88vh;
    }

    .calculator {
      display: inline-flex;
      margin-right: 5%;
    }
  
    .part-1 {
      margin: 2%;
      width: auto;
    } 
  }
  
  @media (max-width: 999px) {
    .Main {
      background-color: white;
      margin-bottom: -3%;
      text-align: center;
    }
    
    .Main-header {
      text-align: center;

      background-image: url('../Images/RunBGC_2.png');
      background-repeat: no-repeat;
      background-size: fit-content;
      background-attachment: fixed;
      background-position-x: 25%;
      background-position-y: 55%;
      background-color: rgb(25, 214, 184);
    }
  
    .calculator {
      display: block;
      text-align: center;
      width: 100%;
      padding-bottom: 6%;
    }

    .part-1 {
      text-align: center;
      width: 100%;
      margin: 10%;
    }

}
  
  