.Main {
  text-align: center;
  background-image: url('./Images/C3.jpg');
  background-repeat: no-repeat;
  background-position-x: 65%;
  
  background-size: 180%;
  padding-bottom: 40px;

  width: 100%;
  height: 100%;

}

.Main-header {
  background-color: #0c1f38;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #e65401;
}

.Main-header h1 {
  font-size: 100%;
  text-align: center;
}

.calculator {
  display: flex;
  width: 70%;
  margin-left: 25%;
}

.part-1 {
  margin: 2.5%;
}

.text {
  color: #e65401;
  text-align: center;
}

.paragraph {
  text-align: center;
  border-bottom: 1px solid;
}

.paragraph h1 {
  color: #0c1f38;
  font-weight: 900;
  font-size: 250%;
  margin-top: 3%;
}

.paragraph h3 {
  text-align: justify;
  font-weight: 600;
  font-size: 150%;
  margin: 3% 7%;
}

.paragraph-2 {
  text-align: center;
}

.paragraph-2 h1 {
  color: #0c1f38;
  font-weight: 900;
  font-size: 250%;
  margin-top: 3%;
}

.paragraph-2 h3 {
  text-align: justify;
  font-weight: 600;
  font-size: 150%;
  margin: 3% 7%;
  
}

@media (max-width: 1100px) {
  .Main {
    text-align: center;
    width: 100%;
    background-image: url('./Images/C3.jpg');
    background-repeat: no-repeat;
    background-position-x: 65%;
    background-size: auto;
    padding-bottom: 40px;
  }
  
  .Main-header {
    background-color: #0c1f38;
    height: 200%;
    width: 100%;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #e65401;
  }

  .Main-header h1 {
    font-size: 100%;
    font-weight: 200%;
    
  }

  .calculator {
    display: block;
    text-align: center;
    margin: 1% 15%;
  }
  
  .text {
    color: #e65401;
    text-align: center;
  }
  
  .paragraph {
    text-align: center;
    border-bottom: 1px solid;
  }
  
  .paragraph h1 {
    color: #0c1f38;
    font-weight: 400;
    font-size: 250%;
    margin-top: 3%;
  }
  
  .paragraph h3 {
    font-weight: 200;
    font-size: 150%;
    margin: 3% 7%;
  }
  
  .paragraph-2 {
    text-align: center;
  }
  
  .paragraph-2 h1 {
    color: #0c1f38;
    font-weight: 500;
    font-size: 250%;
    margin-top: 3%;
  }
  
  .paragraph-2 h3 {
    text-align: justify;
    font-weight: 200;
    font-size: 150%;
    margin: 3% 7%;
  }
  
}

