@media (min-width: 1000px) {

  .Main {
    text-align: center;
    background-image: url('./Images/RunBGC.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position-x: 35%;
    padding-bottom: 60px;

  }

  .Main-header {
    background-color: #0c1f38;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #e65401;
    
  }

  .Main-header Title {
    font-size: 90%;
    text-align: center;
  }

  .calculator {
    display: inline-flex;
    width: auto;
    height: auto;
    margin-left: 25%;
    
  }

  .part-1 {
    margin: 2%;
    width: auto;
  }

  .text {
    margin-top: -60px;
    background-color: #0c1f38;
    color: white;
    text-align: center;
    width: fit-content;
  }

  .paragraph {
    background-color: #0c1f38;
    text-align: center;
    border-bottom: 1px solid;
    padding-top: 2%;
    padding-bottom: 2%;

  }

  .paragraph h1 {
    color:#e65401;
    font-weight: 900;
    font-size: 250%;
    margin-top: 3%;
  }

  .paragraph h3 {
    text-align: justify;
    font-weight: 600;
    font-size: 150%;
    margin: 2% 7%;
  }

  .paragraph-2 {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .paragraph-2 h1 {
    color: #e65401;
    font-weight: 900;
    font-size: 250%;
    margin-top: 3%;
  }

  .paragraph-2 h3 {
    text-align: justify;
    font-weight: 600;
    font-size: 150%;
    margin: 3% 7%;
  }

  /*.CGC {
    width: 100%; 
    height: 140vh;
  }*/

}

@media (max-width: 999px) {
  .Main {
    text-align: center;
    width: 100%;
    background-image: url('./Images/RunBGC.jpg');
    background-repeat: no-repeat;
    background-position-x: 65%;
    background-size: auto;
    
    
  }
  
  .Main-header {
    background-color: #0c1f38;
    height: 100%;
    width: 100%;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #e65401;
    margin-top: -0.1%;
    padding: 0.01% 0;

  }

  .calculator {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 8%;
    padding-bottom: 6%;

  }
  
  .text {
    background-color: #0c1f38;
    text-align: center;
    padding-top: 1%;

  }
  
  .paragraph {
    background-color: #0c1f38;
    text-align: center;
    border-bottom: 1px solid;
  }
  
  .paragraph h1 {
    color: #e65401;
    font-size: 160%;
    margin-top: 5%;
    font-weight: 100;
  }
  
  .paragraph h3 {
    text-align: justify;
    font-weight: 100;
    font-size: 120%;
    margin: 5% 10%;
    color: white;
  }
  
  .paragraph-2 {
    background-color: #0c1f38;
    text-align: center;
    padding-bottom: 10px;
  }
  
  .paragraph-2 h1 {
    color: #e65401;
    font-size: 160%;
    margin: 5%;
    font-weight: 100;
  }
  
  .paragraph-2 p {
    text-align: justify;
    font-weight: 100;
    font-size: 120%;
    margin: 5% 10%;
    color: white;
  }
  
}

